project_name            = "aws-app-platform-example"
aws_region              = "us-east-1"
container_image         = "public.ecr.aws/nginx/nginx:latest"
desired_count           = 1
single_nat_gateway      = true
db_name                 = "appdb"
db_username             = "app_user"
db_instance_class       = "db.t4g.micro"
db_allocated_storage    = 20
db_max_allocated_storage = 100
db_backup_retention_period = 0

container_environment = {
  APP_ENV = "dev"
}

tags = {
  owner       = "platform-team"
  cost_center = "engineering"
}
